services:
  db:
    container_name: mysql
    image: dhi.io/mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    command: mysqld
    volumes:
      - database:/var/lib/mysql
    ports:
      - "3306:3306"

  php:
    depends_on:
      - db
    container_name: php
    restart: unless-stopped
    image: vyzu/php:8.4-fpm-apache-debian
    # build:
    #   # Use the Dockerfile in the current directory
    #   context: .
    #   dockerfile: Dockerfile
    environment:
      PHP_DISPLAY_ERRORS: "1"
      PHP_POST_MAX_SIZE: "8192M"
      PHP_UPLOAD_MAX_FILE_SIZE: "8192M"
      PHP_MAX_INPUT_VARS: "1000000"
      PHP_MAX_EXECUTION_TIME: "300"
      PHP_MAX_INPUT_TIME: "600"
      PHP_MEMORY_LIMIT: "8192M"
    volumes:
      - ./public:/var/www/html/public
    ports:
      - "8080:8080"

volumes:
  database:
